In [2]:
import numpy as np
import pandas as pd
import random
from random import randint
from datetime import date
import datetime

In [3]:
random.seed(12345)
id= random.sample(range(1, 1001), 1000) 
print (id[0:100])

[427, 751, 11, 840, 846, 823, 306, 876, 378, 955, 199, 277, 580, 447, 166, 383, 128, 896, 444, 268, 576, 643, 179, 627, 567, 192, 364, 756, 999, 94, 544, 754, 423, 600, 517, 171, 152, 211, 737, 80, 195, 858, 350, 330, 25, 470, 348, 28, 523, 708, 763, 426, 4, 7, 680, 892, 168, 790, 595, 184, 294, 102, 669, 425, 109, 907, 698, 592, 187, 755, 385, 239, 537, 611, 727, 845, 338, 827, 42, 238, 123, 895, 512, 222, 931, 822, 775, 569, 686, 191, 264, 603, 445, 531, 133, 43, 169, 309, 886, 853]

In [31]:
random.seed(12345)
hired_by= [randint(11100,11115) for k in range(1000)]
print (hired_by[0:100])

[11113, 11100, 11109, 11111, 11106, 11108, 11113, 11105, 11111, 11103, 11113, 11108, 11105, 11105, 11111, 11102, 11113, 11105, 11104, 11106, 11102, 11106, 11110, 11110, 11100, 11114, 11110, 11100, 11113, 11100, 11100, 11105, 11105, 11109, 11103, 11113, 11103, 11105, 11112, 11107, 11110, 11101, 11107, 11103, 11115, 11106, 11105, 11108, 11113, 11104, 11101, 11105, 11109, 11100, 11104, 11107, 11111, 11110, 11105, 11112, 11110, 11100, 11101, 11101, 11114, 11102, 11112, 11105, 11100, 11111, 11106, 11103, 11115, 11101, 11100, 11115, 11110, 11113, 11106, 11111, 11103, 11104, 11102, 11115, 11105, 11110, 11107, 11106, 11105, 11105, 11109, 11104, 11102, 11100, 11104, 11100, 11115, 11105, 11103, 11108]

In [32]:
hire_id = {"id":id, "hired_by":hired_by}
hired_by_hr_id = pd.DataFrame(hire_id)
hired_by_hr_id = hired_by_hr_id.sort_values(["id"],axis=0, ascending=True)
hired_by_hr_id = hired_by_hr_id.reset_index(drop=True)

In [33]:
hired_by_hr_id.head()

   id  hired_by
0   1     11103
1   2     11106
2   3     11114
3   4     11109
4   5     11108

In [34]:
hired_by_hr_id.to_csv('hired_by_hr_id.csv',index=False)