In [1]:
import numpy as np
import pandas as pd
import random
from random import randint
from datetime import date
import datetime

In [5]:
id= random.sample(range(1, 101), 100) 
print (id)

[60, 5, 10, 54, 75, 83, 74, 53, 43, 66, 28, 33, 97, 19, 65, 55, 88, 93, 31, 3, 50, 26, 78, 2, 69, 38, 85, 51, 99, 30, 64, 59, 1, 68, 13, 70, 36, 86, 63, 39, 100, 79, 14, 73, 89, 46, 92, 72, 18, 94, 20, 62, 81, 48, 91, 29, 98, 16, 15, 9, 80, 44, 45, 40, 27, 11, 87, 82, 4, 24, 42, 23, 21, 41, 76, 34, 57, 84, 22, 77, 35, 37, 25, 8, 96, 47, 67, 32, 52, 49, 17, 71, 95, 12, 61, 56, 90, 7, 58, 6]

In [6]:
employe_engagement_initiatives = [random.choice(['initiatives list 1', 'initiative list 2', 'initiatives list 3', 'initiative list 4','initiatives list 5', 'initiative list 6','initiatives list 7', 'initiative list 8']) for k in range(100)]

In [7]:
employe_engagement_initiatives[1:10]

['initiative list 2',
 'initiatives list 5',
 'initiatives list 1',
 'initiative list 4',
 'initiatives list 5',
 'initiatives list 3',
 'initiative list 2',
 'initiative list 8',
 'initiative list 8']

In [23]:
awards =[]
for award in range(100):
        award = random.choice(['0','0','1','1','1','2', '2', '3','3', '4','4','5','5','5-8','8+' ])
        awards.append(award)

In [24]:
awards[1:10]

['3', '1', '4', '8+', '2', '1', '5', '4', '3']

In [25]:
int_surveys =[]
for surveys in range(100):
        surveys = random.choice(['0','0','1','1','1','2', '2', '3','3', '4','4','5','5','5-8','8+' ])
        int_surveys.append(surveys)

In [27]:
int_surveys[1:10]

['0', '4', '3', '1', '8+', '1', '5', '1', '4']

In [32]:
fte =[]
for fte_em in range(100):
        fte_em = random.choice([2340,2080,1040,540])
        fte.append(fte_em)

In [35]:
others = {"id":id, "Employee Engagement Initiatives":employe_engagement_initiatives, "awards":awards,"surveys":int_surveys, "FTE":fte }
other_details = pd.DataFrame(others)

In [34]:
other_details.head(5)

   id Employee Engagement Initiatives awards surveys   FTE
0  60              initiatives list 5    5-8       5  1040
1   5               initiative list 2      3       0  2080
2  10              initiatives list 5      1       4   540
3  54              initiatives list 1      4       3  1040
4  75               initiative list 4     8+       1   540